// ✅ Primero tus overrides
@import 'styles/bootstrap-override';

// ✅ Luego Bootstrap (usa las variables ya redefinidas)
@import 'bootstrap/scss/bootstrap';

// 3. Tus variables personalizadas y estilos propios
@import 'styles/variables';

body {
  background-color: var(--color-bg);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  color: var(--color-text);
}
